/* Navigation bar */
.navigation a{
	font-weight: bold;
}

.company-name {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.company-name h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	font-size: 60px;
}

.company-name h3 span{
	color:  #5383d3;
}

/* Slide show */
.slide-show {
	margin: auto;
	margin-top: 20px;
	max-width: 1000px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 30px !important;
	height: 30px !important;
}

/* Content */
.info-film {
	background-color: #F7F7F7;
	margin-top: 20px;
	margin-bottom: 20px;
 }

/* Film information  */
#now-showing, #coming-soon {
	margin-top: 20px;
}

.button{
	margin-left: 2px;
	margin-right: 2px;
}

.movie-box {
	border: 1px solid #dedede;
	margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #3e3e3e;
}

.movie-name {
	padding: 5px 0px 5px 0px;
}

.movie-name a {
	color: #3e3e3e;
}

.zoom {
	transition: all 200ms ease-in;
	transform: scale(1);
}

.zoom:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1);
}

.movie-img {
    position: relative;
    width: 50%;
}

.img-movie {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.movie-img:hover .img-movie {
  opacity: 0.5;
}

.movie-img:hover .middle {
  opacity: 1;
}

/* Box office */
.name {
	width: 315px;
}

.box-office {
	margin-top: 10px;
}

a table {
	width: 100%;
	color: #3e3e3e;
}

.avatar, .avatar img {
	width: 40px;
}

.index {
	width: 40px;
	text-align: center;
	font-weight: bold;
	color: red;
}

.name p{
	font-weight: bold;
}

.name span {
	font-style: italic;
}

/* Booking online*/
.book-content {
	margin: 20px 0px 20px 0px;
}

.theater, .film, .date, .time {
	margin:10px 0 10px 0;
}

.book-content label {
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #3e3e3e;
}

select {
	width: 100%;
}

/* Promotion */
.promo-button {
	margin-bottom: 20px;
}

.promo-info {
	color: #3e3e3e;
}

.promo-container {
  position: relative;
  width: 100%;
}

.promo-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-promo {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.promo-container:hover .overlay-promo {
  bottom: 0;
  height: 100%;
  opacity: 1;
}

.promo-container:hover .promo-img {
  opacity: 0.3;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Live chat */
.live-chat i{
	margin: 20px;
	font-size: 30px;
	border: 1px solid #5383d3;
	border-radius: 50%;
	padding: 10px;
	background: #5383d3;
    color: white;
}

.live-chat-form {
	transition: all 0.2s;
	transform: rotateX(-90deg);
	height: 0px;
}

#live-chat-visible, .live-chat-visible {
	padding: 20px;
    background-color: white;
    border: 2px solid lightgray;
    width: 350px;
    transform: rotateX(0deg);
}

/* footer */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 20px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
