.title-booking {
	color: #FFC000;
	margin-top: 20px;
	margin-bottom: 20px;
}

.booking {
	background-color: #212529;
	padding-bottom: 20px;
}

.booking form {
	padding: 50px;
	padding-bottom: 0px;
}

.booking label {
	color: #FFC000;
	font-size: 20px;
	font-weight: bold;
}

#booking {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	background-color: #c4394e !important;
	color: #343a40 !important;
}

.booking a:hover , .seat-part a:hover{
	color: #212529 !important;
}


/* CHoose SEAT */
.screen-icon {
    border-top: 5px solid #c4394e;
    box-shadow: 0px 0px 20px 5px #c4394e;
	width: 60%;
}

.screen-text {
	font-weight: bold;
	margin-top: -10px;
}

.screen {
	color: lightgray;
}

.seat {
	margin-top: 50px;
}

.seat-number {
	display: inline-block;
	background-color: lightgray;
	width: 20px;
	height: 20px;
	margin-right: 5px;
    margin-left: 5px;
}

.seat-row {
	color: lightgray;
	font-weight: bold;
}

#rowB, #rowC, #rowD, #rowE {
	margin-top: 20px;
}

.choose-seat {
	margin: 50px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 20px;
    padding-bottom: 30px;
    border: 5px solid lightgray;
    border-radius: 20px;
}

.group-seat {
	padding: 5px;
	font-weight: bold;
	color: black;
}

.seat-part button {
	font-size: 20px;
	font-weight: bold;
	background-color: #c4394e !important;
	color: #343a40 !important;	
}
